telegram-channel-workflow.json
{
  "name": "Telegram Channel Management",
  "nodes": [
    {
      "parameters": {},
      "id": "8b0d6c8f-3f3a-4e5e-8b3a-1c8f3e5e8b3a",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,12,18 * * *"
            }
          ]
        }
      },
      "id": "1a2b3c4d-5e6f-7g8h-9i0j-1k2l3m4n5o6p",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 500],
      "notesInFlow": true,
      "notes": "Запускается 3 раза в день: 9:00, 12:00, 18:00"
    },
    {
      "parameters": {
        "url": "https://api.rss2json.com/v1/api.json",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "rss_url",
                "value": "={{ $json.feedUrl }}"
              },
              {
                "name": "api_key",
                "value": "={{ $credentials.rss2jsonApi }}"
              },
              {
                "name": "count",
                "value": "5"
              }
            ]
          }
        }
      },
      "id": "2b3c4d5e-6f7g-8h9i-0j1k-2l3m4n5o6p7q",
      "name": "Get RSS Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 500],
      "notesInFlow": true,
      "notes": "Получение контента из RSS-ленты"
    },
    {
      "parameters": {
        "content": "=## 📰 {{ $json.title }}\n\n{{ $json.description }}\n\n🔗 [Читать полностью]({{ $json.link }})\n\n#новости #telegram",
        "options": {}
      },
      "id": "3c4d5e6f-7g8h-9i0j-1k2l-3m4n5o6p7q8r",
      "name": "Format Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [900, 500],
      "notesInFlow": true,
      "notes": "Форматирование сообщения для Telegram"
    },
    {
      "parameters": {
        "chatId": "={{ $json.channelId }}",
        "text": "={{ $json.content }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": false
        }
      },
      "id": "4d5e6f7g-8h9i-0j1k-2l3m-4n5o6p7q8r9s",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1120, 500],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      },
      "notesInFlow": true,
      "notes": "Отправка сообщения в канал"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "feedUrl",
              "value": "https://example.com/rss"
            },
            {
              "name": "channelId",
              "value": "@your_channel_name"
            }
          ]
        },
        "options": {}
      },
      "id": "5e6f7g8h-9i0j-1k2l-3m4n-5o6p7q8r9s0t",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 500],
      "notesInFlow": true,
      "notes": "Настройки канала и источников"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "ok"
            }
          ]
        }
      },
      "id": "6f7g8h9i-0j1k-2l3m-4n5o-6p7q8r9s0t1u",
      "name": "Check Feed Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 620],
      "notesInFlow": true,
      "notes": "Проверка успешности получения данных"
    },
    {
      "parameters": {
        "functionCode": "// Обработка и фильтрация новостей\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  if (item.json.items && Array.isArray(item.json.items)) {\n    for (const article of item.json.items) {\n      // Проверка на дубликаты (можно добавить проверку в БД)\n      const publishDate = new Date(article.pubDate);\n      const now = new Date();\n      const hoursDiff = (now - publishDate) / (1000 * 60 * 60);\n      \n      // Публикуем только новости не старше 24 часов\n      if (hoursDiff <= 24) {\n        processedItems.push({\n          json: {\n            title: article.title,\n            description: article.description || article.content,\n            link: article.link,\n            pubDate: article.pubDate,\n            channelId: item.json.channelId || '@your_channel'\n          }\n        });\n      }\n    }\n  }\n}\n\nreturn processedItems;"
      },
      "id": "7g8h9i0j-1k2l-3m4n-5o6p-7q8r9s0t1u2v",
      "name": "Process Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 380],
      "notesInFlow": true,
      "notes": "Обработка и фильтрация статей"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.adminChatId }}",
        "text": "=❌ Ошибка при получении контента:\n{{ $json.error }}",
        "additionalFields": {}
      },
      "id": "8h9i0j1k-2l3m-4n5o-6p7q-8r9s0t1u2v3w",
      "name": "Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1120, 740],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      },
      "notesInFlow": true,
      "notes": "Уведомление об ошибках"
    },
    {
      "parameters": {
        "chatId": "={{ $json.channelId }}",
        "text": "=📢 Доброе утро! Сегодня {{ $now.format('DD.MM.YYYY') }}\n\n{{ $json.dailyMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "9i0j1k2l-3m4n-5o6p-7q8r-9s0t1u2v3w4x",
      "name": "Send Daily Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      },
      "notesInFlow": true,
      "notes": "Ежедневное приветственное сообщение"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dailyMessage",
              "value": "Желаем продуктивного дня! 💪"
            },
            {
              "name": "channelId",
              "value": "@your_channel_name"
            }
          ]
        },
        "options": {}
      },
      "id": "0j1k2l3m-4n5o-6p7q-8r9s-0t1u2v3w4x5y",
      "name": "Daily Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 300],
      "notesInFlow": true,
      "notes": "Настройки ежедневных сообщений"
    },
    {
      "parameters": {
        "mode": "webhook",
        "webhookId": "telegram-webhook"
      },
      "id": "1k2l3m4n-5o6p-7q8r-9s0t-1u2v3w4x5y6z",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 700],
      "webhookId": "telegram-webhook",
      "notesInFlow": true,
      "notes": "Webhook для внешних интеграций"
    },
    {
      "parameters": {
        "functionCode": "// Обработка входящих webhook данных\nconst body = $input.first().json.body;\n\nreturn [{\n  json: {\n    message: body.message || body.text,\n    channelId: body.channelId || '@your_channel',\n    messageType: body.type || 'text',\n    scheduledTime: body.scheduledTime || null,\n    media: body.media || null\n  }\n}];"
      },
      "id": "2l3m4n5o-6p7q-8r9s-0t1u-2v3w4x5y6z7a",
      "name": "Process Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 700],
      "notesInFlow": true,
      "notes": "Обработка данных из webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "photo"
            }
          ]
        }
      },
      "id": "3m4n5o6p-7q8r-9s0t-1u2v-3w4x5y6z7a8b",
      "name": "Check Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 700],
      "notesInFlow": true,
      "notes": "Определение типа сообщения"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.channelId }}",
        "binaryData": false,
        "photo": "={{ $json.media }}",
        "additionalFields": {
          "caption": "={{ $json.message }}",
          "parse_mode": "Markdown"
        }
      },
      "id": "4n5o6p7q-8r9s-0t1u-2v3w-4x5y6z7a8b9c",
      "name": "Send Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [900, 640],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      },
      "notesInFlow": true,
      "notes": "Отправка фото в канал"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $json.channelId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "5o6p7q8r-9s0t-1u2v-3w4x-5y6z7a8b9c0d",
      "name": "Send Text",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [900, 760],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      },
      "notesInFlow": true,
      "notes": "Отправка текстового сообщения"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "6p7q8r9s-0t1u-2v3w-4x5y-6z7a8b9c0d1e",
      "name": "Wait Between Posts",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1120, 380],
      "notesInFlow": true,
      "notes": "Задержка между постами (защита от спама)"
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Daily Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Get RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get RSS Feed": {
      "main": [
        [
          {
            "node": "Check Feed Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Feed Status": {
      "main": [
        [
          {
            "node": "Process Articles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Articles": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Wait Between Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Posts": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Config": {
      "main": [
        [
          {
            "node": "Send Daily Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Webhook": {
      "main": [
        [
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Send Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-02-08T00:00:00.000Z",
      "updatedAt": "2026-02-08T00:00:00.000Z",
      "id": "1",
      "name": "telegram"
    },
    {
      "createdAt": "2026-02-08T00:00:00.000Z",
      "updatedAt": "2026-02-08T00:00:00.000Z",
      "id": "2",
      "name": "automation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-08T00:00:00.000Z",
  "versionId": "1"
}
