telegram_rss_to_group_workflow.json
{
  "name": "RSS Feed to Telegram Group",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * *"
            }
          ]
        }
      },
      "id": "rss-schedule-trigger",
      "name": "Check RSS Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://example.com/feed.xml"
      },
      "id": "rss-feed-reader",
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "notes": "Replace with your RSS feed URL"
    },
    {
      "parameters": {
        "jsCode": "// Process RSS items and format for Telegram\nconst items = $input.all();\nconst processedItems = [];\n\nfor (const item of items) {\n  const json = item.json;\n  \n  // Format message with HTML\n  const message = `\n<b>📰 ${json.title || 'No title'}</b>\n\n${json.contentSnippet || json.description || 'No description'}\n\n<a href=\"${json.link}\">Читать полностью →</a>\n\n<i>📅 ${new Date(json.pubDate || json.isoDate).toLocaleString('ru-RU', {\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n})}</i>\n  `.trim();\n  \n  processedItems.push({\n    json: {\n      chatId: '-1001234567890',\n      message: message,\n      link: json.link,\n      title: json.title,\n      pubDate: json.pubDate || json.isoDate\n    }\n  });\n}\n\nreturn processedItems;"
      },
      "id": "rss-format-message",
      "name": "Format RSS Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "items"
      },
      "id": "rss-limit-items",
      "name": "Limit to 5 Items",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "notes": "Prevent spam - only post latest 5 items"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": false
        }
      },
      "id": "rss-send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "rss-wait-between",
      "name": "Wait 2 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "notes": "Delay between messages to avoid rate limits"
    }
  ],
  "connections": {
    "Check RSS Every 2 Hours": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [
          {
            "node": "Format RSS Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format RSS Items": {
      "main": [
        [
          {
            "node": "Limit to 5 Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to 5 Items": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Wait 2 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "telegram-rss-posting",
  "meta": {
    "instanceId": "n8n-telegram-rss-workflow"
  },
  "tags": []
}
