vk-advanced-workflow.json
{
  "name": "VK Advanced Content Creation with AI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Ты - креативный копирайтер для социальных сетей. Создавай интересные, вовлекающие посты для VKontakte."
            },
            {
              "role": "user",
              "content": "Создай мотивационный пост для VK на тему {{ $json.topic }}. Длина: 200-400 символов. Добавь 3-4 релевантных хештега. Используй эмодзи для привлечения внимания."
            }
          ]
        },
        "options": {
          "temperature": 0.8,
          "maxTokens": 200
        }
      },
      "id": "openai-generate",
      "name": "OpenAI Generate Content",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        680,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Select random topic for content generation\nconst topics = [\n  \"саморазвитие и личностный рост\",\n  \"продуктивность и тайм-менеджмент\",\n  \"здоровый образ жизни\",\n  \"карьера и профессиональное развитие\",\n  \"финансовая грамотность\",\n  \"творчество и креативность\",\n  \"отношения и коммуникация\",\n  \"путешествия и новые впечатления\"\n];\n\nconst randomTopic = topics[Math.floor(Math.random() * topics.length)];\n\nreturn {\n  json: {\n    topic: randomTopic,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "select-topic",
      "name": "Select Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and prepare for VK\nconst aiResponse = $json.choices?.[0]?.message?.content || $json.message || \"\";\n\n// Extract message (remove quotes if present)\nlet message = aiResponse.trim();\nif (message.startsWith('\"') && message.endsWith('\"')) {\n  message = message.slice(1, -1);\n}\n\n// Configuration\nconst owner_id = \"-YOUR_GROUP_ID\"; // Replace with your VK group ID\nconst attachments = \"\"; // Add attachments if needed\n\nreturn {\n  json: {\n    owner_id: owner_id,\n    message: message,\n    attachments: attachments,\n    timestamp: new Date().toISOString(),\n    topic: $json.topic || \"general\"\n  }\n};"
      },
      "id": "prepare-vk-post",
      "name": "Prepare VK Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fallback content generation if AI is not available\nconst topic = $json.topic || \"саморазвитие\";\n\nconst contentByTopic = {\n  \"саморазвитие и личностный рост\": [\n    \"🌱 Каждый день - это возможность стать лучшей версией себя. Что вы сделали сегодня для своего роста? #саморазвитие #личностныйрост #мотивация\",\n    \"💪 Выходите из зоны комфорта! Именно там начинается настоящий рост. #развитие #успех #мотивация\"\n  ],\n  \"продуктивность и тайм-менеджмент\": [\n    \"⏰ Секрет продуктивности: фокус на главном, а не на срочном. Расставьте приоритеты правильно! #продуктивность #тайм менеджмент #эффективность\",\n    \"📊 Планируйте день с вечера - и утро станет продуктивнее в разы! #планирование #продуктивность #успех\"\n  ],\n  \"здоровый образ жизни\": [\n    \"🏃‍♂️ Здоровье - это не цель, а образ жизни. Начните с малого: 10 минут зарядки каждое утро! #зож #здоровье #спорт\",\n    \"🥗 Правильное питание = ясный ум + энергия на весь день. Заботьтесь о себе! #зож #правильноепитание #здоровье\"\n  ],\n  \"карьера и профессиональное развитие\": [\n    \"🎯 Инвестируйте в свои навыки - это лучшая инвестиция в будущее. Что вы изучаете сейчас? #карьера #развитие #обучение\",\n    \"💼 Успешная карьера строится на постоянном обучении и адаптации. Будьте гибкими! #карьера #профессионализм #рост\"\n  ],\n  \"финансовая грамотность\": [\n    \"💰 Финансовая свобода начинается с финансовой грамотности. Учитесь управлять деньгами! #финансы #инвестиции #финансоваяграмотность\",\n    \"📈 Правило 50/30/20: 50% на нужды, 30% на желания, 20% на сбережения. Попробуйте! #финансы #планирование #накопления\"\n  ],\n  \"творчество и креативность\": [\n    \"🎨 Креативность - это мышца, которую нужно тренировать. Создавайте что-то новое каждый день! #творчество #креативность #искусство\",\n    \"✨ Не бойтесь экспериментировать! Лучшие идеи рождаются за пределами привычного. #креатив #идеи #вдохновение\"\n  ],\n  \"отношения и коммуникация\": [\n    \"💬 Качество отношений определяет качество жизни. Инвестируйте время в близких людей! #отношения #общение #любовь\",\n    \"🤝 Умение слушать важнее умения говорить. Будьте внимательны к людям! #коммуникация #отношения #эмпатия\"\n  ],\n  \"путешествия и новые впечатления\": [\n    \"✈️ Путешествия расширяют горизонты и меняют мировоззрение. Куда вы мечтаете поехать? #путешествия #приключения #мир\",\n    \"🌍 Новые места = новые впечатления = новый вы. Исследуйте мир! #путешествия #открытия #впечатления\"\n  ]\n};\n\n// Find matching content or use general\nconst matchingContent = Object.keys(contentByTopic).find(key => topic.includes(key));\nconst contentArray = matchingContent ? contentByTopic[matchingContent] : [\n  \"🚀 Каждый день - это новая возможность! Используйте её по максимуму! #мотивация #успех #развитие\",\n  \"💡 Верьте в себя и свои возможности. Вы способны на большее! #мотивация #вера #успех\"\n];\n\nconst randomMessage = contentArray[Math.floor(Math.random() * contentArray.length)];\n\nconst owner_id = \"-YOUR_GROUP_ID\"; // Replace with your VK group ID\n\nreturn {\n  json: {\n    owner_id: owner_id,\n    message: randomMessage,\n    attachments: \"\",\n    timestamp: new Date().toISOString(),\n    topic: topic\n  }\n};"
      },
      "id": "fallback-content",
      "name": "Fallback Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate content before posting\nconst message = $json.message;\nconst owner_id = $json.owner_id;\n\nconst errors = [];\n\nif (!message || message.trim().length === 0) {\n  errors.push(\"Message cannot be empty\");\n}\n\nif (message.length > 4096) {\n  errors.push(\"Message exceeds maximum length of 4096 characters\");\n}\n\nif (!owner_id) {\n  errors.push(\"Owner ID is required\");\n}\n\n// Check for forbidden words (customize as needed)\nconst forbiddenWords = [\"спам\", \"реклама без согласия\"];\nconst lowerMessage = message.toLowerCase();\nconst foundForbidden = forbiddenWords.filter(word => lowerMessage.includes(word));\n\nif (foundForbidden.length > 0) {\n  errors.push(`Found forbidden words: ${foundForbidden.join(\", \")}`);\n}\n\nif (errors.length > 0) {\n  return {\n    json: {\n      valid: false,\n      errors: errors,\n      original_data: $json\n    }\n  };\n}\n\nreturn {\n  json: {\n    valid: true,\n    ...($json)\n  }\n};"
      },
      "id": "validate-content",
      "name": "Validate Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-validation",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vk.com/method/wall.post",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $credentials.vkAccessToken }}"
            },
            {
              "name": "v",
              "value": "5.131"
            },
            {
              "name": "owner_id",
              "value": "={{ $json.owner_id }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "attachments",
              "value": "={{ $json.attachments }}"
            },
            {
              "name": "from_group",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "vk-post-content",
      "name": "VK Post Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle validation errors\nconst errors = $json.errors || [];\nconst errorMessage = errors.join(\", \");\n\nconsole.error(\"Validation failed:\", errorMessage);\n\nreturn {\n  json: {\n    status: \"validation_failed\",\n    errors: errors,\n    timestamp: new Date().toISOString(),\n    original_data: $json.original_data\n  }\n};"
      },
      "id": "handle-validation-error",
      "name": "Handle Validation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.response?.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log successful post\nconst postId = $json.response?.post_id;\nconst message = $json.message;\nconst topic = $json.topic;\n\nconsole.log(`✅ Successfully posted to VK. Post ID: ${postId}`);\n\nreturn {\n  json: {\n    status: \"success\",\n    post_id: postId,\n    message: message,\n    topic: topic,\n    timestamp: new Date().toISOString(),\n    vk_response: $json.response\n  }\n};"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log error\nconst error = $json.response?.error || $json.error || \"Unknown error\";\nconst message = $json.message;\n\nconsole.error(`❌ Failed to post to VK. Error: ${JSON.stringify(error)}`);\n\nreturn {\n  json: {\n    status: \"failed\",\n    error: error,\n    message: message,\n    timestamp: new Date().toISOString(),\n    vk_response: $json.response\n  }\n};"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "vk_posts_log_{{ $now.format(\"YYYY-MM-DD\") }}.json"
        }
      },
      "id": "save-to-file",
      "name": "Save to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2440,
        300
      ],
      "disabled": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Select Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Topic": {
      "main": [
        [
          {
            "node": "OpenAI Generate Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fallback Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Generate Content": {
      "main": [
        [
          {
            "node": "Prepare VK Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Content": {
      "main": [
        [
          {
            "node": "Validate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare VK Post": {
      "main": [
        [
          {
            "node": "Validate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Content": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "VK Post Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VK Post Content": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Save to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-07T00:00:00.000Z",
  "versionId": "2"
}
