vk-content-advanced-workflow.json
{
  "name": "VK Content Creation Advanced",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vk-content-advanced",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        600
      ],
      "webhookId": "vk-advanced-webhook"
    },
    {
      "parameters": {
        "content": "## Advanced VK Workflow\n\nFeatures:\n- AI content generation\n- Image processing\n- Multi-post scheduling\n- Analytics tracking\n- Content moderation",
        "height": 300,
        "width": 400
      },
      "id": "info-note",
      "name": "Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a social media content creator for VK. Create engaging posts in Russian language."
            },
            {
              "role": "user",
              "content": "={{ $json.topic || 'Create an interesting post about technology' }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "ai-content-generator",
      "name": "AI Content Generator",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        460,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "3",
          "name": "OpenAI API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content_type }}",
              "operation": "equals",
              "value2": "ai_generated"
            }
          ]
        }
      },
      "id": "check-content-type",
      "name": "Check Content Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        500
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "url": "={{ $json.image_url }}",
        "options": {}
      },
      "id": "download-image",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "photo",
        "operation": "upload",
        "albumId": "wall",
        "binaryProperty": "data"
      },
      "id": "upload-to-vk",
      "name": "Upload Photo to VK",
      "type": "n8n-nodes-base.vk",
      "typeVersion": 1,
      "position": [
        900,
        400
      ],
      "credentials": {
        "vkOAuth2Api": {
          "id": "1",
          "name": "VK OAuth2 API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Content moderation and validation\nconst items = $input.all();\nconst results = [];\n\nconst bannedWords = ['spam', 'scam', 'prohibited'];\nconst maxLength = 16384;\nconst minLength = 10;\n\nfor (const item of items) {\n  const message = item.json.message || '';\n  const issues = [];\n  \n  // Check length\n  if (message.length < minLength) {\n    issues.push('Message too short');\n  }\n  if (message.length > maxLength) {\n    issues.push('Message too long');\n  }\n  \n  // Check for banned words\n  const lowerMessage = message.toLowerCase();\n  const foundBanned = bannedWords.filter(word => lowerMessage.includes(word));\n  if (foundBanned.length > 0) {\n    issues.push(`Contains banned words: ${foundBanned.join(', ')}`);\n  }\n  \n  // Check for required fields\n  if (!item.json.owner_id) {\n    issues.push('Missing owner_id');\n  }\n  \n  results.push({\n    json: {\n      ...item.json,\n      validation: {\n        passed: issues.length === 0,\n        issues: issues,\n        timestamp: new Date().toISOString()\n      }\n    },\n    pairedItem: item.pairedItem\n  });\n}\n\nreturn results;"
      },
      "id": "content-moderation",
      "name": "Content Moderation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.validation.passed }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-validation",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare VK post with all parameters\nconst items = $input.all();\nconst posts = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Build attachments array\n  let attachments = [];\n  if (data.attachments && Array.isArray(data.attachments)) {\n    attachments = data.attachments;\n  }\n  \n  // Add uploaded photo if exists\n  if (data.uploaded_photo) {\n    attachments.push(data.uploaded_photo);\n  }\n  \n  // Format message with hashtags\n  let message = data.message || '';\n  if (data.hashtags && Array.isArray(data.hashtags)) {\n    const tags = data.hashtags.map(tag => {\n      return tag.startsWith('#') ? tag : `#${tag}`;\n    }).join(' ');\n    message += `\\n\\n${tags}`;\n  }\n  \n  // Add call-to-action if provided\n  if (data.cta_text && data.cta_link) {\n    message += `\\n\\n${data.cta_text}: ${data.cta_link}`;\n  }\n  \n  // Prepare post data\n  const postData = {\n    owner_id: data.owner_id,\n    message: message,\n    attachments: attachments.join(','),\n    from_group: data.from_group !== undefined ? data.from_group : 1,\n    services: data.services || null,\n    signed: data.signed || 0,\n    publish_date: data.publish_date ? Math.floor(new Date(data.publish_date).getTime() / 1000) : null,\n    lat: data.lat || null,\n    long: data.long || null,\n    place_id: data.place_id || null,\n    post_id: data.post_id || null,\n    guid: data.guid || `${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n    mark_as_ads: data.mark_as_ads || 0,\n    close_comments: data.close_comments || 0,\n    donut_paid_duration: data.donut_paid_duration || null,\n    mute_notifications: data.mute_notifications || 0,\n    copyright: data.copyright || null\n  };\n  \n  // Add metadata for tracking\n  postData.metadata = {\n    created_at: new Date().toISOString(),\n    source: data.source || 'n8n_workflow',\n    campaign: data.campaign || null,\n    tags: data.tags || []\n  };\n  \n  posts.push({\n    json: postData,\n    pairedItem: item.pairedItem\n  });\n}\n\nreturn posts;"
      },
      "id": "prepare-post",
      "name": "Prepare Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "post",
        "operation": "create",
        "owner": "={{ $json.owner_id }}",
        "message": "={{ $json.message }}",
        "additionalFields": {
          "attachments": "={{ $json.attachments }}",
          "from_group": "={{ $json.from_group }}",
          "signed": "={{ $json.signed }}",
          "publish_date": "={{ $json.publish_date }}",
          "lat": "={{ $json.lat }}",
          "long": "={{ $json.long }}",
          "place_id": "={{ $json.place_id }}",
          "guid": "={{ $json.guid }}",
          "mark_as_ads": "={{ $json.mark_as_ads }}",
          "close_comments": "={{ $json.close_comments }}",
          "mute_notifications": "={{ $json.mute_notifications }}"
        }
      },
      "id": "create-vk-post",
      "name": "Create VK Post",
      "type": "n8n-nodes-base.vk",
      "typeVersion": 1,
      "position": [
        1340,
        400
      ],
      "credentials": {
        "vkOAuth2Api": {
          "id": "1",
          "name": "VK OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract post ID and prepare analytics data\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const postId = item.json.post_id;\n  const ownerId = item.json.owner_id || item.json.from_id;\n  \n  results.push({\n    json: {\n      post_id: postId,\n      owner_id: ownerId,\n      full_id: `${ownerId}_${postId}`,\n      created_at: new Date().toISOString(),\n      message: item.json.text || '',\n      metadata: item.json.metadata || {},\n      vk_response: item.json\n    },\n    pairedItem: item.pairedItem\n  });\n}\n\nreturn results;"
      },
      "id": "extract-post-data",
      "name": "Extract Post Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO vk_posts (post_id, owner_id, full_id, message, created_at, metadata, status)\nVALUES (\n  '{{ $json.post_id }}',\n  '{{ $json.owner_id }}',\n  '{{ $json.full_id }}',\n  '{{ $json.message }}',\n  '{{ $json.created_at }}',\n  '{{ JSON.stringify($json.metadata) }}',\n  'published'\n)\nON CONFLICT (full_id) DO UPDATE SET\n  message = EXCLUDED.message,\n  metadata = EXCLUDED.metadata,\n  updated_at = CURRENT_TIMESTAMP;",
        "options": {}
      },
      "id": "save-to-db",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1780,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "PostgreSQL"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "response-post-id",
              "name": "post_id",
              "value": "={{ $json.post_id }}",
              "type": "string"
            },
            {
              "id": "response-url",
              "name": "url",
              "value": "=https://vk.com/wall{{ $json.full_id }}",
              "type": "string"
            },
            {
              "id": "response-message",
              "name": "message",
              "value": "Post published successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-success-response",
      "name": "Prepare Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1780,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "webhook-response-success",
      "name": "Webhook Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-status",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "error-issues",
              "name": "issues",
              "value": "={{ $json.validation.issues }}",
              "type": "array"
            },
            {
              "id": "error-message",
              "name": "message",
              "value": "Content validation failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-error-response",
      "name": "Prepare Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1120,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "webhook-response-error",
      "name": "Webhook Response Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO vk_posts_errors (owner_id, message, validation_issues, created_at)\nVALUES (\n  '{{ $json.owner_id }}',\n  '{{ $json.message }}',\n  '{{ JSON.stringify($json.validation.issues) }}',\n  CURRENT_TIMESTAMP\n);",
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1340,
        740
      ],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "PostgreSQL"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Error Handling\n\nLogs validation errors\nand sends error responses",
        "height": 200,
        "width": 300
      },
      "id": "error-note",
      "name": "Error Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        680
      ]
    },
    {
      "parameters": {
        "content": "## Success Path\n\nPublishes post,\nsaves to DB,\nreturns response",
        "height": 200,
        "width": 300
      },
      "id": "success-note",
      "name": "Success Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1700,
        180
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Content Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Content Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Content Type": {
      "main": [
        [
          {
            "node": "AI Content Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Content Moderation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Generator": {
      "main": [
        [
          {
            "node": "Content Moderation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload Photo to VK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Photo to VK": {
      "main": [
        [
          {
            "node": "Prepare Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Moderation": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Prepare Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Post": {
      "main": [
        [
          {
            "node": "Create VK Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create VK Post": {
      "main": [
        [
          {
            "node": "Extract Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post Data": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Response": {
      "main": [
        [
          {
            "node": "Webhook Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Response": {
      "main": [
        [
          {
            "node": "Webhook Response Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-02-07T00:00:00.000Z",
      "updatedAt": "2026-02-07T00:00:00.000Z",
      "id": "1",
      "name": "VK"
    },
    {
      "createdAt": "2026-02-07T00:00:00.000Z",
      "updatedAt": "2026-02-07T00:00:00.000Z",
      "id": "2",
      "name": "Social Media"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-07T00:00:00.000Z",
  "versionId": "2"
}
