vk-scheduled-post-workflow.json
{
  "name": "VK Scheduled Post with Error Handling",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger-001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "notes": "Runs every day at 9:00 AM"
    },
    {
      "parameters": {
        "url": "https://api.example.com/get-post-content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "http-get-content-001",
      "name": "Get Post Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "notes": "Fetch post content from your API/CMS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-001",
              "leftValue": "={{ $json.postText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "condition-002",
              "leftValue": "={{ $json.imageUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-validate-001",
      "name": "Validate Content",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "http-download-001",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "photo",
        "operation": "upload",
        "groupId": "={{ $json.groupId }}",
        "binaryProperty": "data"
      },
      "id": "vk-upload-photo-001",
      "name": "Upload Photo to VK",
      "type": "n8n-nodes-base.vk",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "vkOAuth2Api": {
          "id": "1",
          "name": "VK OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "post",
        "operation": "create",
        "groupId": "={{ $json.groupId }}",
        "message": "={{ $json.postText }}",
        "additionalFields": {
          "attachments": "={{ $json.id }}"
        }
      },
      "id": "vk-create-post-001",
      "name": "Create VK Post",
      "type": "n8n-nodes-base.vk",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "credentials": {
        "vkOAuth2Api": {
          "id": "1",
          "name": "VK OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-001",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "success-002",
              "name": "message",
              "value": "Post published successfully",
              "type": "string"
            },
            {
              "id": "success-003",
              "name": "postId",
              "value": "={{ $json.post_id }}",
              "type": "string"
            },
            {
              "id": "success-004",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-success-001",
      "name": "Set Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-001",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "error-002",
              "name": "message",
              "value": "Content validation failed",
              "type": "string"
            },
            {
              "id": "error-003",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-error-001",
      "name": "Set Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ VK Post Published!\n\nStatus: {{ $json.status }}\nPost ID: {{ $json.postId }}\nTime: {{ $json.timestamp }}",
        "additionalFields": {}
      },
      "id": "telegram-success-001",
      "name": "Send Success Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1780,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=❌ VK Post Failed!\n\nStatus: {{ $json.status }}\nError: {{ $json.message }}\nTime: {{ $json.timestamp }}",
        "additionalFields": {}
      },
      "id": "telegram-error-001",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Post Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post Content": {
      "main": [
        [
          {
            "node": "Validate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Content": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload Photo to VK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Photo to VK": {
      "main": [
        [
          {
            "node": "Create VK Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create VK Post": {
      "main": [
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success Response": {
      "main": [
        [
          {
            "node": "Send Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Response": {
      "main": [
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-02-10T00:00:00.000Z",
      "updatedAt": "2026-02-10T00:00:00.000Z",
      "id": "1",
      "name": "VK"
    },
    {
      "createdAt": "2026-02-10T00:00:00.000Z",
      "updatedAt": "2026-02-10T00:00:00.000Z",
      "id": "2",
      "name": "Scheduled"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-10T00:00:00.000Z",
  "versionId": "1"
}
